:root {
  --background: #f9fafb;
  --surface: #f5f5f5; /* For content backgrounds */
  --text-primary: #1f2937;
  --text-secondary: #4E6B43;
  --primary-accent: #5BBF34;
  --border: #d0dbcd;


  --top-nav-height: 70px;
  --bottom-tab-height: 65px;

  --button-background: #e9e9ed;
}


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
  color: var(--text-primary);
}

.navbar a {
  color: white;
  margin-left: 1rem;
  text-decoration: none;
}

.page {
  margin: auto 10vw;
}

.project-card {
  background: var(--surface);
  border-color: var(--border);
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 8px;
  border-width: 2px;
  border-style: solid;
}

@media (max-width: 767px) {
    .project-card {
        display: block;
    }

    .project-card button {
        margin: 7px 20px;
    }

    .project-card p {
        margin: 3px 0;
    }
}

.taglist {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.techno {
  background: var(--primary-accent);
  margin: 2px 5px;
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
}

/* From Uiverse.io by cssbuttons-io */ 
button, .btn {
  font-family: inherit;
  background-color: var(--button-background);
  display: inline-block;
  width: 8em;
  height: 2.6em;
  margin: 20px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid var(--primary-accent);
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--primary-accent);
  text-decoration: none;
}

.btn {
  align-content: center;
  text-align: center;
}

button:before, .btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--primary-accent);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

button:hover, .btn:hover {
  color: var(--background);
}

button:before, .btn:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

button:hover:before, .btn:hover:before {
  top: -30px;
  left: -30px;
}

button:active:before, .btn:active:before {
  background: var(--primary-accent);
  transition: background 0s;
}

.subtitle {
    margin: 0;
    font-size: .9rem;
    font-style: oblique;
}

.inline-flex {
    display:flex;
    align-items: center;
}

.label {
    margin-bottom: 5px;
}
